.BookSection {
  padding: 10px 10px;
  margin: 10px 10px;
  list-style: none;
  /* background: #cfe6ff; */
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.Container {
  display: flex;
}

.BooksBtn {
  display: inline-flex;
  align-items: center;
}

.BookInfo {
  padding: 0 20px;
}

.BookLink {
  padding: 8px;
  text-decoration: none;
  border-radius: 0.3rem;
  background-color: #3d83dd;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  margin: 20px 0;
  border-radius: 0.125rem;
  border: 0;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.BookTitle {
  color: rgb(0, 66, 148);
  font-size: 1.75rem;
  font-weight: 400;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.BookAuthors {
  padding: 0;
  margin: 5px 0;
  font-size: 16px;
  font-weight: 400;
  font-family: sans-serif;
}

.BookSynopsis {
  line-height: 1.7rem;
  font-weight: 500;
  font-family: sans-serif;
  font-size: 18px;
}
