.BookList {
  width: 75%;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .BookList {
    width: 90%;
    margin: 0;
  }
}

@media only screen and (max-width: 600px) {
  .BookList {
    width: 90%;
    margin: 0 auto
  }
}