.navbar {
  background-color: #007bff;
  padding: 0.2rem 1rem;
  /* padding: 0; */
}
.navtabs {
  display: flex;
  list-style: none;
}

.navitem {
  text-decoration: none;
  font-size: 20px;
  margin: 0 10px;
}

.navbar-title {
  color: #fff;
}

.nav-link {
  text-decoration: none;
  color: #000;
}

.nav-link:hover {
  text-decoration: none;
  color: #ea4335;
  color: #34a853;
  color: #fbbc05;
}
